body {
  background-image: url("https://us.123rf.com/450wm/igordabari/igordabari1609/igordabari160900195/63547547-resumen-de-la-astronom%C3%ADa-universo-espacio-de-fondo-negro-cielo-nocturno-con-las-estrellas-se-puede-u.jpg?ver=6");
}

h1  {
  color: rgba(255, 174, 0, 0.959);
  text-decoration: underline;
}
h5{
  text-decoration: underline;
}
.card-body {
  background-color: rgb(190, 187, 187);
}

 b {
  color: rgb(216, 141, 2);
}
.scrolling-wrapper{
	overflow-x: auto;
  padding-bottom: 5rem;
}